
<h1>Listing Customer Details</h1>
 
<%= link_to 'New-Customer', new_customer_path %> ||
<%= link_to 'HOME', welcome_index_path %>
<table>
  <tr>
    <th>Name</th>
    <th>DOB</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Price</th>
    <th></th>
  </tr>
 
  <% @customer.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.dob %></td>
      <td><%= customer.address %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.price %></td>
      <td><%= link_to 'Show', customer_path(customer) %></td>
      <td><%= link_to 'Edit', edit_customer_path(customer) %>
      <td><%= link_to 'Destroy', customer_path(customer),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>
