
<p>
  <strong>Name:</strong>
  <%=  %>
</p>
 
<p>
  <strong>Date of birth:</strong>
  <%=  %>
</p>

<p>
  <strong>Address:</strong>
  <%=  %>
</p>

<p>
  <strong>Phone number:</strong>
  <%=  %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
<%= link_to 'HOME', welcome_index_path %>
