
<%= form_for @item, :url => url_for(:controller => 'items', :action => 'modif') do |form| %>
<% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<p>
    <%= form.label :stock %><br>
    <%= form.text_field :stock %>
  </p>
  <p>
    <%= form.submit('Modify stock') %>
  </p>
<% end%>
<%= link_to 'Back', items_path %>
  
