
<p>
  <strong>item no:</strong>
  <%= @item.ino %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>price of item :</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Stock availability:</strong>
  <%= @item.stock %>
</p>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %> |
<%= link_to 'HOME', welcome_index_path %>
